<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.invegan.diet.dao.DietDAO">

	<select id="findFoodList" parameterType="String" resultType="kr.co.invegan.diet.dto.FoodDataDTO">
		SELECT * FROM FoodData 
			WHERE food_name LIKE CONCAT('%', #{param1},'%')
			ORDER BY CASE 
				WHEN food_name LIKE #{param1} THEN 1
				WHEN food_name LIKE CONCAT(#{param1}, ',%') THEN 2
	 			WHEN food_name LIKE CONCAT(#{param1}, '%') THEN 3
				WHEN food_name LIKE CONCAT('%',#{param1}, '%') THEN 4
				WHEN food_name LIKE CONCAT('%', #{param1}) THEN 5
			ELSE 0 END;
	</select>
	
	<select id="showNutri" parameterType="int" resultType="kr.co.invegan.diet.dto.FoodDataDTO">
		SELECT * FROM FoodData 
			WHERE food_id = #{param1};
	</select>
	
	<select id="getServingSize" parameterType="int" resultType="int">
		SELECT serving_size FROM FoodData WHERE food_id = #{food_id};
	</select>
	
	<select id="dupleChk" parameterType="hashmap" resultType="hashmap">
		SELECT d.date, d.diet_category, m2.food_id 
			FROM Diet d INNER JOIN Diet_composition dc 
			ON d.diet_id = dc.diet_id 
				AND d.date=#{select_date} AND d.diet_category = #{diet_category} 
			INNER JOIN Material m2 
			ON dc.menu_id = m2.menu_id 
				AND m2.food_id = #{food_id}
			WHERE d.user_no = (SELECT user_no FROM Members WHERE id = #{loginId});
	</select>
	
	
	
</mapper>