<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.invegan.diet.dao.DietDAO">

	<select id="findFoodList" parameterType="String" resultType="kr.co.invegan.diet.dto.FoodDataDTO">
		SELECT * FROM FoodData 
			WHERE food_name LIKE CONCAT('%', #{param1},'%')
			ORDER BY CASE 
				WHEN food_name LIKE #{param1} THEN 1
				WHEN food_name LIKE CONCAT(#{param1}, ',%') THEN 2
	 			WHEN food_name LIKE CONCAT(#{param1}, '%') THEN 3
				WHEN food_name LIKE CONCAT('%',#{param1}, '%') THEN 4
				WHEN food_name LIKE CONCAT('%', #{param1}) THEN 5
			ELSE 0 END;
	</select>
	
	<select id="showNutri" parameterType="int" resultType="kr.co.invegan.diet.dto.FoodDataDTO">
		SELECT * FROM FoodData 
			WHERE food_id = #{param1};
	</select>
	
	<select id="getServingSize" parameterType="int" resultType="int">
		SELECT serving_size FROM FoodData WHERE food_id = #{food_id};
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="diet_id"
		keyProperty="diet_id"
		id="addDiet" parameterType="kr.co.invegan.diet.dto.DietDTO">
		INSERT INTO Diet(user_no,date,diet_category) 
			VALUES(
				(SELECT user_no FROM Members WHERE id=#{user_id})
				, #{date}, #{diet_category});
	</insert>
	
	<insert
		useGeneratedKeys="true"
		keyColumn="menu_id"
		keyProperty="menu_id" 
		id="addMenu" parameterType="kr.co.invegan.diet.dto.DietDTO">
		INSERT INTO Menu(user_no,recipe_name,category)
			VALUES(
				(SELECT user_no FROM Members WHERE id=#{user_id})
				,#{recipe_name},#{category});
	</insert>
	
 	<insert id="addMaterial" parameterType="hashmap">
		INSERT INTO Material(food_id,grams,menu_id)
			VALUES(#{food_id}, #{gram}, #{menu_id});
	</insert>
	
	<insert id="addDietComp" parameterType="hashmap">
		INSERT INTO Diet_composition(diet_id,menu_id)
			VALUES(#{diet_id},#{menu_id});
	</insert>
	
	
	
	
	
</mapper>