<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.invegan.diet.dao.MyRecipeDAO">
	<select id = "mlist" parameterType="string" resultType="kr.co.invegan.diet.dto.MyRecipeDTO">
		SELECT * FROM FoodData
			WHERE food_name LIKE CONCAT('%', #{param1}, '%')
			ORDER BY CASE
				WHEN food_name LIKE #{param1} THEN 1
			    WHEN food_name LIKE CONCAT(#{param1}, ',%') THEN 2
			    WHEN food_name LIKE CONCAT(#{param1}, '%') THEN 3
			    WHEN food_name LIKE CONCAT('%', #{param1}, '%') THEN 4
			    WHEN food_name LIKE CONCAT('%', #{param1}) THEN 5
			ELSE 0 END;
	</select>
</mapper>