<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.invegan.mypage.dao.MyPageDAO">

	<select id="userInfo" resultType="map">
		SELECT join_date,id,birthdate,gender,nickname,vegan_type,vegan_purpose from Members WHERE user_no=1
	</select>

</mapper>