<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.invegan.board.dao.FeedDAO">
    <!-- useGeneratedKeys="true"
    keyColumn="post_id"
    keyProperty="post_id" -->
  <insert id="writeFeed">
    INSERT INTO Board (title, content,category,user_no)
    VALUES ('-', #{content}, '피드','1')
    
  </insert>
  
  <insert  id="writeTag">
    INSERT INTO Tags (tag_content) values(#{feedTag})
  </insert>


</mapper>