<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
	<!-- generatedKey 사용하기(방금 인서트한 데이터의 pk값)
			useGeneratedKeys="true"	: 사용 여부
			keyColumn="idx"				: 어떤 컬럼값을 가져올것인가
			keyProperty="idx"				: DTO의 어떤 속성(필드)에 넣을 것인가?
	-->
<mapper namespace="kr.co.invegan.board.dao.RestaurantDAO">

	<insert
		useGeneratedKeys="true"
		keyColumn="post_id"
		keyProperty="post_id"
		id="boardWrite"
		parameterType="kr.co.invegan.board.dto.RestaurantDTO">
		INSERT INTO Board(user_no ,title,content,category)
			VALUES(#{user_no},#{title},#{content},#{category})
	</insert>
	
	<insert id="restaurantWrite" parameterType="kr.co.invegan.board.dto.RestaurantDTO">
		INSERT INTO Restaurant(post_id,address,phone,hours)
			VALUES(#{post_id},#{address},#{phone},#{hours})
	</insert>
	
	<insert id="menuWrite" parameterType="kr.co.invegan.board.dto.MenuDTO">
		INSERT INTO RestaurantMenu (post_id,menu_name,price,vegan_type)
			VALUES(#{post_id},#{menu_name},#{price},#{vegan_type})
	</insert>
	
	<insert id="photoWrite">
		INSERT INTO ImageTable(idx,server_file_name,category) VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	
	
	<select id="restaurantList" resultType="kr.co.invegan.board.dto.RestaurantDTO">
		SELECT * FROM Board WHERE category = '식당'
	</select>
	
	
	
	<select id="restaurantDetail" resultType="kr.co.invegan.board.dto.RestaurantDTO">
		SELECT * from Board b natural join Restaurant r WHERE post_id = #{param1}
	</select>
	
	<select id="menuDetail" resultType="kr.co.invegan.board.dto.MenuDTO">
		SELECT * FROM RestaurantMenu WHERE post_id = #{param1};
	</select>
	
	<select id="photoList" resultType="String">
		SELECT server_file_name FROM ImageTable WHERE category = '식당' AND idx = #{param1}
			ORDER BY image_id ASC;
	</select>
	
	






	
</mapper>






